*.swp
*.pyc
.DS_Store

*.egg-info
.sass-cache
.module-cache

.venv

data/

*.secret.json

minarepoviewer/static/js/*.js
minarepoviewer/static/css/mrv.css
minarepoviewer/static/css/mrv.css.map
minarepoviewer/static/css/new-report.css
minarepoviewer/static/css/new-report.css.map

sfc-minarepoviewer/static/js/*.js
sfc-minarepoviewer/static/css/mrv.css
sfc-minarepoviewer/static/css/mrv.css.map
sfc-minarepoviewer/static/css/new-report.css
sfc-minarepoviewer/static/css/new-report.css.map
