
$map-width: 300px;
$map-height: 300px;

$btn-size: 45px;

$sp-btn-size: 85px;

.mrv-hidden {
    display: none;
}

.mrv-title-container {
    text-align: center;
}

.mrv-loading-reports {
    // vertical-align: middle;;
    display: inline-block;
    margin-bottom: 5px;
    color: #666666;
    .mrv-img-loading-reports {
        // display: inline;
        vertical-align: middle;;
        width: 20px;
        height: 20px;
    }

}

.mrv-btn-image {
    @media screen and (min-width: 641px) {
        width: $btn-size;
        height: $btn-size;
    }
    @media screen and (max-width: 640px) {
        width: $sp-btn-size;
        height: $sp-btn-size;
    }
}

.mrv-btn-row {
    margin-bottom: 15px;

}

.mrv-btn-container {
    text-align: center;

}

.mrv-btn-inner-container {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

DIV.mrv-detail {
    margin-top: 20px;

    DIV.mrv-detail-img-container {
        text-align: center;

        DIV.mrv-detail-img-inner-container {
            margin-left: auto;
            margin-right: auto;
            width: auto;
            IMG.mrv-detail-image {

            }
        }
    }
    IMG.mrv-detail-report-type-image {
        width: 20px;
        height: 20px;
    }

    DL.mrv-detail-info {
        DT {

        }

        DD {
            margin-bottom: 10px;
            margin-left: 20px;


        }

    }

    .mrv-detail-no-address {
        color: #888888;
    }

    .mrv-detail-no-comment {
        color: #888888;
    }

    .mrv-detail-error {
        color: red;
    }
}



.mrv-map-container {
    text-align: center;

}

// .mrv-map-inner-container {
//     margin-left: auto;
//     margin-right: auto;
//     width: auto;
// }

#report-map {
    // width: $map-width;
    // height: $map-height;
    // width: 100px;
    // height: 100px;
    width: 95%;
    height: 40%;
    // height: auto;
    margin-left: auto;
    margin-right: auto;

}


.mrv-footer {
    text-align: center;
    font-size: 14px;
    color: #666666;
}
