
$map-width: 450px;
$map-height: 450px;

$sp-map-width: 300px;
$sp-map-height: 300px;

$btn-size: 45px;

$sp-btn-size: 65px;

$rtype-mini-icon-size: 20px;

$table-font-size-smartphone: 12px;


.mrv-hidden {
    display: none;
}

.mrv-title-container {
    text-align: center;
    padding-top: 15px;

    IMG.mrv-title-image {
        width: 300px;
    }
}

.mrv-loading-reports {
    // vertical-align: middle;;
    display: inline-block;
    margin-bottom: 5px;
    color: #666666;
    .mrv-img-loading-reports {
        // display: inline;
        vertical-align: middle;;
        width: 20px;
        height: 20px;
    }

}

.mrv-btn-image {
    @media screen and (min-width: 641px) {
        width: $btn-size;
        height: $btn-size;
        margin: 0 7px 0 7px;
    }
    @media screen and (max-width: 640px) {
        width: $sp-btn-size;
        height: $sp-btn-size;
    }
}

.mrv-btn-row {
    margin-bottom: 15px;

}

.mrv-btn-container {
    text-align: center;

}

.mrv-btn-inner-container {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.mrv-report-table-container {
    .pager1 {
        margin-top: 12px;
        margin-bottom: 12px;
        // margin-bottom: 5px;
    }
    .pager2 {
        margin-top: 12px;
        // margin-bottom: 12px;
    }
}

TABLE.mrv-report-table {
    margin-bottom: 5px !important;

    .mrv-report-table-show-detail-link:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    .mrv-report-table-show-detail-link {
        text-decoration: none;
    }

    IMG.mrv-report-table-report-type-image {
        width: $rtype-mini-icon-size;
        height: $rtype-mini-icon-size;
    }

    THEAD {
        TH {
            @media screen and (max-width: 640px) {
                font-size: $table-font-size-smartphone;
            }

        }
    }

    TBODY {
        TD {
            @media screen and (max-width: 640px) {
                font-size: $table-font-size-smartphone;
            }
        }
    }
}

DIV.mrv-detail {
    margin-top: 20px;

    DIV.mrv-detail-img-container {
        text-align: center;

        DIV.mrv-detail-img-inner-container {
            margin-left: auto;
            margin-right: auto;
            width: auto;
            IMG.mrv-detail-image {
                @media screen and (max-width: 640px) {
                    // width: $btn-size;
                    // height: $btn-size;
                    margin-bottom: 25px;
                }
            }
        }
    }
    IMG.mrv-detail-report-type-image {
        width: $rtype-mini-icon-size;
        height: $rtype-mini-icon-size;
    }

    DIV.mrv-detail-info-header {
        text-align: center;
    }

    DL.mrv-detail-info {
        DT {

        }

        DD {
            margin-bottom: 10px;
            margin-left: 20px;


        }

    }

    .mrv-detail-no-address {
        color: #888888;
    }

    .mrv-detail-no-comment {
        color: #888888;
    }

    .mrv-detail-error {
        color: red;
    }
}



.mrv-map-container {
    text-align: center;
    margin: 26px 0 26px 0;
}

.mrv-btn-close-table {

}
.mrv-btn-open-table {
    margin-top: 20px;

}

// .mrv-map-inner-container {
//     margin-left: auto;
//     margin-right: auto;
//     width: auto;
// }

#report-map {
    // width: $map-width;
    // height: $map-height;
    // width: 100px;
    // height: 100px;
    @media screen and (min-width: 641px) {
        width: 95%;
        height: 450px; 
    }
    @media screen and (max-width: 640px) {
        width: 95%;
        height: 40%;
    }
    // height: auto;
    margin-left: auto;
    margin-right: auto;
}


.mrv-footer {
    text-align: center;
    font-size: 14px;
    color: #666666;
}
