
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/foundation.min.css">
    <link rel="stylesheet" href="/static/css/mrv.css">
    <script src="/static/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/static/js/vendor/foundation.min.js"></script>
    <title>KMLファイルのアップロード</title>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>KMLファイル削除の確認: {{geo_layer.name|safe}} (ID={{geo_layer.id|safe}})</h1>
        &gt;&gt;<a href="/kml/">Back</a>

        {% if error %}
          <div class="error">
            {{error|safe}}
          </div>
        {% endif %}

        <form action="/kml/delete/{{geo_layer.id}}" method="POST">
          <input type="hidden" name="csrf" value="{{session.csrf}}">
          <input type="checkbox" name="confirmed" id="confirmed" value="1">
          <label for="confirmed"> 「{{geo_layer.name|safe}}」を本当に削除する</label><br>
          <input class="alert button" type="submit" value="削除する">
        </form>
      </div>
    </div>
  </body>
</html>
