<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>藤沢みなレポ</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="/static/css/foundation.min.css">
    <link rel="stylesheet" href="/static/css/mrv.css">
    <link rel="stylesheet" href="/static/css/jquery.toast.css">

    <script src="/static/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/static/js/vendor/foundation.min.js"></script>
    <script src="/static/js/vendor/react.js"></script>
    <script src="/static/js/vendor/react-with-addons.js"></script>
    <script src="/static/js/vendor/react-dom.js"></script>
    <script src="/static/js/vendor/fluxxor.js"></script>
    <script src="/static/js/vendor/underscore-min.js"></script>
    <script src="/static/js/vendor/classnames.js"></script>
    <script src="/static/js/vendor/jquery.toast.js"></script>
    <script src="/static/js/vendor/load-image.all.min.js"></script>

    <script src="/static/js/reset-password.js?date={{ timestamp }}"></script>
  </head>
  <body>
    <!-- mrv.jsx will mount React component here -->
    <div id="minarepo-viewer-app"></div>
  </body>
</html>
